server {
        listen       {{ site_http_port }} default_server;
        server_name  {{ server_hostname }};
        root {{ site_root }} ;
 
	    client_max_body_size 64M;
 
 
        location / {
                index index.php index.html index.htm;
                try_files $uri $uri/ /index.php?$args;
        }
        location ~* /google{
            proxy_pass http://www.google.com;
        } 

        location ~* \.(gif|jpg|jpeg|png|css|js)$ {
                expires max;
        }
}
